.screenshot {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  height: 700px;
  margin: 0 auto;
  position: fixed;
  left: 37.5%;
}
#index {background-image: url("../Fotos/Index.png");}
#aanmelden {background-image: url("../Fotos/Aanmelden.png");}
#registreren {background-image: url("../Fotos/Registreren.png");}
#routeplannen {background-image: url("../Fotos/Routeplannen.png");}
#startscherm {background-image: url("../Fotos/Startscherm.png");}
#route {background-image: url("../Fotos/Route1.png");}
#verkooppuntzoeken {background-image: url("../Fotos/Verkooppuntzoeken.png");}
#verkooppunten {background-image: url("../Fotos/Verkooppunten.png");}
#haltes {background-image: url("../Fotos/Haltes.png");}

a {
  width: 100%;
  height: 35px;
  text-align: center;
  position: relative;
  left: 0;
  border: solid 1px green;
  display: block;
}
#vanindexnaaraanmelden, #vanstartschermnaarrouteplannen {
  top: 237.5px;
}
#vanindexnaarregistreren, #vanstartschermnaarhaltes {
  top: 247.5px;
}
#vanindexnaarstartscherm, #vanstartschermnaarverkooppuntzoeken {
  top: 257px;
}
#vanaanmeldennaarstartscherm {
  top: 330px;
}
#vanregistrerennaarstartscherm {
  top: 375px;
}
#vanrouteplannennaarroute {
  top: 432.5px;
}
#vanverkooppuntzoekennaarverkooppunten {
  top: 325px;
  height: 30px;
}
