body#aanmelden {
  background-color: orange;
  background-image: url("Fotos/Aanmelden.png");
  width: 100%;
}
body#index {
  background-color: orange;
  background-image: url("Fotos/Index.png");
  width: 100%;
}
